@{
    ViewData["Title"] = "Home Page";
     Layout = null;
}


<!DOCTYPE html>
<html >

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<base  />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="generator" content="Joomla! - Open Source Content Management" />
	<title>Artech</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="pages/interactive-particlesc0d0?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0" />
	<link href="pages/interactive-particles7b17?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml" title="Atom 1.0" />
	<link href="https://chipblue.net/joomla/trax/templates/trax/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link href="~/cdn.jsdelivr.net/npm/simple-line-icons%402.4.1/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
	<link href="css/k240c7.css?v=2.10.3&amp;b=20200429" rel="stylesheet" type="text/css" />
	<link href="css/module.min879d.css?v=720" rel="stylesheet" type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/modal.css" rel="stylesheet" type="text/css" />
	<link href="https://chipblue.net/joomla/trax/modules/mod_maximenuck/themes/css3megamenu/css/maximenuck.php?monid=maximenuck105" rel="stylesheet" type="text/css" />
	<link href="css/maximenuresponsiveck.css" rel="stylesheet" type="text/css" />

	<script src="js/jquery.minb049.js?ab72efa51aee7d21288597130224b726" type="text/javascript"></script>
	<script src="js/jquery-noconflictb049.js?ab72efa51aee7d21288597130224b726" type="text/javascript"></script>
	<script src="js/jquery-migrate.minb049.js?ab72efa51aee7d21288597130224b726" type="text/javascript"></script>
	<script src="js/k2.frontend22a7.js?v=2.10.3&amp;b=20200429&amp;sitepath=/joomla/trax/" type="text/javascript"></script>
	<script src="js/captionb049.js?ab72efa51aee7d21288597130224b726" type="text/javascript"></script>
	<script src="js/module.min879d.js?v=720" type="text/javascript" defer="defer"></script>
	<script src="js/modernizr.js" type="text/javascript"></script>
	<script src="js/jquery.ui.core.minb049.js?ab72efa51aee7d21288597130224b726" type="text/javascript"></script>
	<script src="js/maximenuck.v8.js" type="text/javascript"></script>

	
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/morphext.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/tooltipster.min.css">
    <link rel="stylesheet" href="css/cubeportfolio.min.css">
    <link rel="stylesheet" href="css/revolution/navigation.css">
    <link rel="stylesheet" href="css/revolution/settings.css">
    <link rel="stylesheet" href="css/site.css"> 
    <link rel="stylesheet" href="css/custom.css">
		<!-- LESS stylesheet for managing color presets -->
    <link rel="stylesheet/less" type="text/css" 
        href="https://chipblue.net/joomla/trax/templates/trax/less/color.php?feature_color=ff0e2a">
	
    <!-- LESS JS engine   -->
    <script src="../../templates/trax/less/less-1.5.0.min.js"></script>
    
</head>

<body  class="
		 com_content view-featured no-layout no-task itemid-138">
	 
	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="cssload-loader"></div>
		</div>
	</div>
	<!--PreLoader Ends-->
			<!-- header -->
		<header class="site-header header1" id="header">
			<nav class="navbar navbar-expand-lg transparent-bg static-nav">
				<div class="container">
					<a class="navbar-brand" href="#">
						<img src="images/ARtech_logo.png" alt="artech" class="logo-default">
						<img src="images/ARtech.png" alt="artech" class="logo-scrolled">
					</a>
					<div class="collapse navbar-collapse">
								<div class="moduletable btmagamenu">
						
			<!--[if lte IE 7]>
			<link href="/joomla/trax/modules/mod_maximenuck/themes/css3megamenu/css/ie7.css" rel="stylesheet" type="text/css" />
			<![endif]-->
<!-- debut Maximenu CK, par cedric keiflin --> 
	<div class="  maximenuckh ltr" id="maximenuck105" style="z-index:10;">
        <div class="maxiroundedleft"></div>
        <div class="maxiroundedcenter">
            <ul   class="navbar-nav ml-auto  btmagamenu maximenuck" style="transition: top 0.3s;">
			<li data-level="1" class="nav-item maximenuck  item126 level1 " style="z-index : 11973;" ><a  data-hover="Portfolio" class="maximenuck " href="#"><span class="titreck"  data-hover="Portfolio">Anasayfa</span></a>
		</li>
		<li data-level="1" class="nav-item maximenuck smoothScroll item126 level1 " style="z-index : 11973;" ><a  data-hover="Portfolio" class="maximenuck " href="#our-feature"><span class="titreck"  data-hover="Portfolio">Hakkımızda</span></a></li>

			<li data-level="1" class="nav-item maximenuck  item126 level1 " style="z-index : 11973;" ><a  data-hover="Portfolio" class="maximenuck " href="#our-apps"><span class="titreck"  data-hover="Portfolio">Hizmetlerimiz</span></a></li>
				<li data-level="1" class="nav-item maximenuck  item126 level1 " style="z-index : 11973;" ><a  data-hover="Portfolio" class="maximenuck " href="#our-team"><span class="titreck"  data-hover="Portfolio">Projelerimiz</span></a></li>
					<li data-level="1" class="nav-item maximenuck  item126 level1 " style="z-index : 11973;" ><a  data-hover="Portfolio" class="maximenuck " href="#contact"><span class="titreck"  data-hover="Portfolio">İletişim</span></a></li>

    </ul>
        </div>
        <div class="maxiroundedright"></div>
        <div style="clear:both;"></div>
    </div>
    <!-- fin maximenuCK --> 
	
<style type="text/css">
.btmagamenu{
	width: 100%;
}
#maximenuck105 ul.maximenuck{
	clear: none;
    padding: 0;
    margin: 0;  
	
    text-align: right !important;
	position: inherit !important;
}  
.site-header.header9 .static-nav #maximenuck105 ul.maximenuck { 
    text-align: center !important; 
}
#maximenuck105 ul.maximenuck,li.maximenuck.current.active,li.maximenuck.parent.level1.maximenuckanimation,li.maximenuck.last.level1,#maximenuck105 ul.maximenuck li.maximenuck.level1:hover  {
	background: none !important;
    border: none !important; 
	padding: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}   
div#maximenuck105 ul.maximenuck li.maximenuck.level1{
	padding: 0;
	border: none !important;
}
#maximenuck105 div.maxidrop-main {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
}  
#maximenuck105 div.maxidrop-main2 {
    margin: 0 auto; 
}
#maximenuck105  ul.maximenuck >li> a{ 
	padding: 0 !important ;
} 

#maximenuck105  ul.nav-menu.maximenuck > li.maximenuck.level1 > a span{ 
	padding: 23px 7px 0px 15px !important;
} 
#maximenuck105  ul.nav-menu.maximenuck > li.maximenuck.level1 > a{ 
	padding: 23px 0px 0px 15px !important;
} 
#maximenuck105  ul.maximenuck li.level1:last-child,#maximenuck105  ul.maximenuck li.level1:last-child > a .titreck, #maximenuck105  ul.maximenuck li.level1:last-child > span span{ 
	padding-right: 0 ;
}
#maximenuck105  ul.maximenuck >li> a> span ,#maximenuck105  ul.maximenuck >li> .separator > span{ 
    font-size: 16px ;  
    text-shadow: none !important;
    box-shadow: 0 0px 0 rgba(255,255,255,0.25); 
	padding: 0 17px ; 
	color: #fff ;
} 
.fixedmenu #maximenuck105  ul.maximenuck >li> a> span ,.fixedmenu #maximenuck105  ul.maximenuck >li> .separator > span{  
	color: #26313c ;
}
#maximenuck105 ul.maximenuck li.level1.parent > a, #maximenuck105 ul.maximenuck li.level1.parent > span.separator {
    padding: 0 !important;
	text-shadow: none !important;
	color: #fff ;
} 

header.header9 #maximenuck105 ul.navbar-nav .nav-link span,
header.header9 #maximenuck105 ul.navbar-nav .level1 > .nav-link span,
header.header9 #maximenuck105 ul.navbar-nav .level1 > .separator > span,
header.header7 #maximenuck105 ul.navbar-nav .level1 > .separator > span,
header.header4 #maximenuck105 ul.navbar-nav .level1 > .separator > span,
header.header2 #maximenuck105 ul.navbar-nav .level1 > .nav-link span,
header.header2 #maximenuck105 ul.navbar-nav .level1 > .separator span,
header.header4 #maximenuck105 ul.navbar-nav .level1 > .nav-link span,
header.header3 #maximenuck105 ul.navbar-nav .level1 > .separator > span{ 
    color: #26313c !important; 
}
#maximenuck105 ul.maximenuck li.maximenuck.level1:hover > a span.titreck, #maximenuck105 ul.maximenuck li.maximenuck.level1.active > a span.titreck, #maximenuck105 ul.maximenuck li.maximenuck.level1:hover > span.separator span, #maximenuck105 ul.maximenuck li.maximenuck.level1.active > span.separator span{
    color: #24cdd5  !important; 
} 
#maximenuck105 ul.maximenuck li.level1.parent:hover > a:after, #maximenuck105 ul.maximenuck li.level1.parent:hover > span.separator:after, #maximenuck105 ul.maximenuck li.level1.parent.active > a:after, #maximenuck105 ul.maximenuck li.level1.parent.active > span.separator:after {
    border-width: 0 !important;
    content: "\f107" !important;
    top: 1px !important;
    left: auto !important;
    right: 9px !important;
    font-size: 16px; 
    color: #24cdd5  !important;
}  
.fixedmenu #maximenuck105 ul.maximenuck li.level1.parent:hover > a:after, .fixedmenu #maximenuck105 ul.maximenuck li.level1.parent:hover > span.separator:after, .fixedmenu #maximenuck105 ul.maximenuck li.level1.parent.active > a:after, .fixedmenu #maximenuck105 ul.maximenuck li.level1.parent.active > span.separator:after {
    border-width: 0 !important;
    content: "\f107" !important;
    top: 1px !important;
    left: auto !important;
    right: 9px !important;
    font-size: 16px; 
    color: #24cdd5  !important;
}  
.fixed-bottom.menu-top #maximenuck105 ul.maximenuck li.level1.parent:hover > a:after, .fixed-bottom.menu-top #maximenuck105 ul.maximenuck li.level1.parent:hover > span.separator:after, .fixed-bottom.menu-top #maximenuck105 ul.maximenuck li.level1.parent.active > a:after, .fixed-bottom.menu-top #maximenuck105 ul.maximenuck li.level1.parent.active > span.separator:after {
    content: "\f106" !important; 
}  
#maximenuck105 ul.maximenuck li.level1.parent > a:after, #maximenuck105 ul.maximenuck li.level1.parent > span.separator:after{
	border-width: 0 !important;
    content: "\f107" !important; 
    top: 1px !important;
    left: auto !important;
    right: 9px !important;
    font-size: 16px;
	font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;  
} 
.header4 #maximenuck105 ul.maximenuck li.level1.parent > a:after,
.header4 #maximenuck105 ul.maximenuck li.level1.parent > span:after,
.header9 #maximenuck105 ul.maximenuck li.level1.parent > a:after,
.header9 #maximenuck105 ul.maximenuck li.level1.parent > span:after,
.fixedmenu #maximenuck105 ul.maximenuck li.level1.parent > a:after,
.fixedmenu  #maximenuck105 ul.maximenuck li.level1.parent > span.separator:after{ 
    color: #26313c !important;
} 
.fixed-bottom.menu-top #maximenuck105 ul.maximenuck li.level1.parent > a:after, .fixed-bottom.menu-top #maximenuck105 ul.maximenuck li.level1.parent > span.separator:after{
	content: "\f106" !important; 
} 
#maximenuck105 ul.maximenuck li ul.maximenuck2 li.maximenuck, #maximenuck105 ul.maximenuck2 li.maximenuck { 
    margin: 0px 0px 8px 0px !important;
}

div#maximenuck105 ul.maximenuck li ul.maximenuck2 li.maximenuck, div#maximenuck105 ul.maximenuck2 li.maximenuck { 
    padding: 5px 0px !important;
}
#maximenuck105 ul.maximenuck li.level2 > a, #maximenuck105 ul.maximenuck li.level2 > span.separator{
	
    padding: 0 15px !important;
}  
#maximenuck105 ul.maximenuck li.level2  span{
	
    color: #26313c !important;
}
#maximenuck105 ul.maximenuck li.level1 li:hover > span.separator span ,#maximenuck105 ul.maximenuck li.level1 li:hover > a span{
	
    color: #24cdd5  !important;
}
#maximenuck105 ul.maximenuck li.level2.parent:hover > a:after, #maximenuck105 ul.maximenuck li.level2.parent:hover > span.separator:after, #maximenuck105 ul.maximenuck li.level2.parent.active > a:after, #maximenuck105 ul.maximenuck li.level2.parent.active > span.separator:after { 
    color: #24cdd5  !important;
}   
#maximenuck105 ul.maximenuck li.level2.parent.active > a:after, #maximenuck105 ul.maximenuck li.level2.parent.active > span.separator:after { 
    color: #24cdd5  !important;
} 
#maximenuck105  ul.maximenuck li.maximenuck > div.floatck,#maximenuck105  ul.maximenuck li.maximenuck:hover > div.floatck {
    padding: 20px 30px ; 
    background: #fff; 
    border-radius: 2px ;    
    -webkit-box-shadow: 0 6px 50px rgba(0,0,0,.04);
    box-shadow: 0 6px 50px rgba(0,0,0,.04); 
    border: 0 !important;
}    
 
#maximenuck105  ul.maximenuck li.maximenuck > div.floatck li span {
	color: #e0e0e0;
	font-size: 16px;
	transition-property: margin-left, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;  
	transition: all 0.3s ease;
    text-shadow: initial;
}
 
#maximenuck105  ul.maximenuck li.maximenuck.level2:hover > a span,#maximenuck105  ul.maximenuck li.maximenuck.level2:hover > span span,#maximenuck105  ul.maximenuck li.maximenuck.level2:hover li.maximenuck.level3:hover > a span,#maximenuck105  ul.maximenuck li.maximenuck.level2:hover li.maximenuck.level3:hover > span span ,#maximenuck105  ul.maximenuck li.maximenuck.level1 li.active > a span,#maximenuck105  ul.maximenuck li.maximenuck.level1 li.active > span span {
	color: #24cdd5  !important;;
	font-size: 16px;
	transition-property: margin-left, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;  
	transition: all 0.3s ease;
    text-shadow: initial;
}
#maximenuck105 div.floatck.btmegamenu{
    left: 0; 
	right: 0;
}
#maximenuck105 div.floatck.dropdown{
    left: inherit;
    right: inherit;
}
ul > li li .floatck.dropdown {
    left: 0 !important;
} 
.floatck.btmegamenu{ 
	margin: 0 auto !important;
}

.fixed-bottom.menu-top #maximenuck105 div.floatck.btmegamenu, .fixed-bottom.menu-top #maximenuck105 div.floatck.dropdown{
    bottom: 50px;
}  
nav.fixed-bottom #maximenuck105 ul.btmagamenu{
    text-align: center !important;
}   

</style>		</div>
	 
					</div>
				</div>
				<!--side menu open button-->
				<a href="javascript:void(0)" class="d-inline-block sidemenu_btn" id="sidemenu_toggle">
					<span></span> <span></span> <span></span>
				</a>
			</nav>
			<!-- side menu -->
			<div class="side-menu opacity-0 gradient-bg">
				<div class="overlay"></div>
				<div class="inner-wrapper">
					<span class="btn-close btn-close-no-padding" id="btn_sideNavClose"><i></i><i></i></span>
					<nav class="side-nav w-100">
								<div class="moduletable_menu">
						<ul class="navbar-nav   ">
							<li class="nav-item  item-151">	<a class='nav-link'  href="#home">
	 Anasayfa		 
	</a></li>
	<li class="nav-item  item-151">	<a class='nav-link'  href="#our-feature">
	 Hakkımızda		 
	</a></li>
	<li class="nav-item  item-151">	<a class='nav-link'  href="#our-apps">
	 Hizmetlerimiz		 
	</a></li>
	<li class="nav-item  item-151">	<a class='nav-link'  href="#our-team">
	 Projelerimiz		 
	</a></li>
	<li class="nav-item  item-151">	<a class='nav-link'  href="#contact">
	 İletişim		 
	</a></li>
	
</ul>
		</div>
	
					</nav>
					<div class="side-footer w-100">
								<div class="moduletable">
						

<div class="custom"  >
	<ul class="social-icons-simple white top40">
<li><a><i class="fab fa-facebook-f"></i> </a></li>
<li><a><i class="fab fa-twitter"></i> </a></li>
<li><a><i class="fab fa-instagram"></i> </a></li>
</ul>
<p class="whitecolor"><span id=""></span> </p></div>
		</div>
	
						
					</div>
				</div>
			</div>
			<div id="close_side_menu" class="tooltip"></div>
			<!-- End side menu -->
		</header>
		<!-- header --> 
		<section id="top">
			<div class="moduletable">
						

<div class="custom"  >
	<ul class="social-icons-simple revicon white">
<li class="d-table"><a><i class="fab fa-facebook-f"></i></a></li>
<li class="d-table"><a><i class="fab fa-twitter"></i> </a></li>
<li class="d-table"><a><i class="fab fa-linkedin-in"></i> </a></li>
<li class="d-table"><a><i class="fab fa-instagram"></i> </a></li>
</ul></div>
		</div>
			<div class="moduletable">
						

<div class="custom"  >
	<section id="home" class="p-0  single-slide">
<h2 class="d-none">hidden</h2>
<!-- particles.js container -->
<div id="particles-js">&nbsp;</div>
<div class="part-header parallax parallax-slow">&nbsp;
	<div class="video-container">
    <video autoplay muted loop>
        <source src="images/video/video3.mp4" type="video/mp4" />
    </video>


	
</div>
</div>
<div class="overlay overlay-dark opacity-5 z-index-n1">&nbsp;</div>
<!-- particles.js container -->
<div id="particles-text-morph">
<h2 class="font-xlight">ARtech </h2>
<h2 id="morph-text" class="pb-2">İnşaat, Mühendislik Danışmanlık, Yüksek Teknoloji Ürünleri ARGE, Web Site Yapımı, Proje ve Mimarlık Faaliyetleri</h2>
<h3 class="font-light2">Global Yazılım İnşaat Anonim Şirketi</h3>
</div>
<!--scroll down--> <a class="scroll-down pagescroll hover-default" href="#our-feature">Kaydır <i class="fas fa-long-arrow-alt-down"></i></a></section></div>
		</div>
	
	</section>
				<div class="moduletable">
						

<div class="custom"  >
	<!--Some Feature -->
<section id="our-feature" class="single-feature padding_bottom padding_top_half mt-1 mt-lg-n4 mt-md-n3">
<div class="container">
<div class="row d-flex align-items-center">
<div class="col-lg-6 col-md-7 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
<div class="heading-title mb-4">
<h2>&nbsp;</h2>
<h2 class="darkcolor font-normal bottom30">Hakkımızda </h2>
@* <span class="defaultcolor">Business</span> *@
</div>
<p class="bottom35">Artech buraya hakkımzda kısmı kısaca gelecek Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit ultrices maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit</p>
<a class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4" href="#our-team">Daha fazla</a></div>

  <div id="lottie"  class="col-6" style="width: 100%; height:auto;"></div>

</div>
</div>
</section>
<!--Some Feature ends--></div>
		</div>
		
	
<div class="custom"  >
	<!-- WOrk Process-->
<section id="our-process" class="padding bgdark">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 text-center">
<div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms"><span></span>
<h2 class="font-normal">İş İlerleyişimiz</h2>
</div>
</div>
</div>
<div class="row">
<ul class="process-wrapp">
<li class="whitecolor wow fadeIn" data-wow-delay="300ms"><span class="pro-step bottom20">01</span>
<p class="fontbold bottom25">Konsept</p>
<p class="mt-n2 mt-sm-0">Gözlemlerimize dayanarak bir sorun tespit edilir.</p>
</li>
<li class="whitecolor wow fadeIn" data-wow-delay="400ms"><span class="pro-step bottom20">02</span>
<p class="fontbold bottom25">Plan</p>
<p class="mt-n2 mt-sm-0">Mevcut sorunun çözümüne dair bir plan oluşturulur</p>
</li>
<li class="whitecolor wow fadeIn active" data-wow-delay="500ms"><span class="pro-step bottom20">03</span>
<p class="fontbold bottom25">Tasarım</p>
<p class="mt-n2 mt-sm-0">Oluşturulan plana göre ürünün tasarımları yaplılır</p>
</li>
<li class="whitecolor wow fadeIn" data-wow-delay="600ms"><span class="pro-step bottom20">04</span>
<p class="fontbold bottom25">Gelişim</p>
<p class="mt-n2 mt-sm-0">Alnında uzman ekibimizle ürün/ürünler geliştirilir</p>
</li>
<li class="whitecolor wow fadeIn" data-wow-delay="700ms"><span class="pro-step bottom20">05</span>
<p class="fontbold bottom25">Kalite Kontrolü</p>
<p class="mt-n2 mt-sm-0">Ürünlerimiz profesyonel hale gelene kadar test edilir</p>

</li>
</ul>
</div>
</div>
</section>
<!--WOrk Process ends--></div>
		</div>
			<div class="moduletable">
						

<div class="custom"  >
	<!-- Mobile Apps -->
<section id="our-apps" class="padding">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-7 col-sm-12">
<div class="heading-title bottom30 wow fadeInUp" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;" data-wow-delay="300ms"><span class="defaultcolor text-center text-md-left">Bir sonraki ürünümüz</span>
<h2 class="darkcolor font-normal text-center text-md-left">Ürün adı</h2>
</div>
</div>
<div class="col-lg-6 col-md-5 col-sm-12">
<p class="text-center text-md-left">Derin öğrenme algoritmaarını kullanarak, beton cinsini tespt eden mobil uygulamamızda... kısa açıklama</p>
</div>
</div>
<div id="app-feature" class="row d-flex align-items-center">
<div class="col-lg-4 col-md-4 col-sm-12">
<div class="text-center text-md-right">
<div class="feature-item mt-3 wow fadeInLeft" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;" data-wow-delay="300ms">
<div class="icon"><i class="fas fa-cog"></i></div>
<div class="text">
<h3 class="bottom15"><span class="d-inline-block">Özelleştirilebilir</span></h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur earum et totam modi </p>
</div>
</div>
<div class="feature-item mt-5 wow fadeInLeft" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInLeft;" data-wow-delay="350ms">
<div class="icon"><i class="fas fa-edit"></i></div>
<div class="text">
<h3 class="bottom15"><span class="d-inline-block">Pratik</span></h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur earum et totam modi </p>
</div>
</div>
</div>
</div>
<div class="col-md-4 text-center">
<div class="app-image top30">
<div class="app-slider-lock-btn">&nbsp;</div>
<div class="app-slider-lock" style="height:100%;" style="width: 235px;"><img src="images/1.png" alt="" /></div>


<div id="app-slider" class="owl-carousel owl-theme owl-loaded owl-drag">
<div class="owl-stage-outer">
<div class="owl-stage" style="transform: translate3d(-470px, 0px, 0px); transition: all 0s ease 0s; width: 1645px;">
<div class="owl-item cloned" style="width: 235px; ">
<div class="item" style="height:100%;"><img src="images/2.png" alt="" /></div>
</div>
<div class="owl-item cloned" style="width: 235px; ">
<div class="item" style="height:100%;"><img src="images/3.png" alt="" /></div>
</div>

</div>
</div>
<div class="owl-nav disabled"></button><button class="owl-next" role="presentation" type="button"><span aria-label="Next">›</span></button></div>
<div class="owl-dots disabled">&nbsp;</div>
</div>
<img src="images/iphone.png" alt="image" />
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12">
<div class="text-center text-md-left">
<div class="feature-item mt-3 wow fadeInRight" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInRight;" data-wow-delay="300ms">
<div class="icon"><i class="fas fa-code"></i></div>
<div class="text">
<h3 class="bottom15"><span class="d-inline-block">Güçlü algoritmalar</span></h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur earum et totam modi  </p>
</div>
</div>
<div class="feature-item mt-5 wow fadeInRight" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInRight;" data-wow-delay="350ms">
<div class="icon"><i class="far fa-folder-open"></i></div>
<div class="text">
<h3 class="bottom15"><span class="d-inline-block">Depolanabilir </span></h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur earum et totam modi </p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!--Mobile Apps ends--></div>
		</div>
			<div class="moduletable">
						

<div class="custom"  >
	<!-- Counters -->
<section id="bg-counters" class="padding bg-counters parallax" style="background: url('images/banner1-1.jpg') no-repeat center center;">
<div class="container">
<div class="row align-items-center text-center">
<div class="col-lg-6 col-md-6 col-sm-6 bottom10">
<div class="counters whitecolor  top10 bottom10"><span class="count_nums font-light" data-to="11" data-speed="20"> a</span></div>
<h3 class="font-light whitecolor top20">Farklı hizmet alanı</h3>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<p class="whitecolor top20 bottom20 font-light title">11 farklı alanda hizmet veren şirketimşz Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio nesciunt possimus perferendis laborum minus. Quis laboriosam magni ea ipsa. Non neque expedita dicta obcaecati deserunt impedit nemo necessitatibus iste amet.</p>
</div>

</div>
</div>
</section>
<!-- Counters ends--></div>
		</div>
			<div class="moduletable">
						

<div class="custom"  >
	<!-- Our Team-->
<section id="our-team" class="padding_top half-section-alt teams-border">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12">
<div class="heading-title wow fadeInUp" data-wow-delay="300ms"><span class="defaultcolor text-center text-md-left"></span>
<h2 class="darkcolor font-normal bottom30 text-center text-md-left">Hizmetlerimiz</h2>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
<p class="heading_space mt-n3 mt-sm-0 text-center text-md-left">ARtech birbirinden farklı hizmetlerle... Lorem ipsum dolor sit amet suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus.</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div id="ourteam-slider" class="owl-carousel">
<div class="item">
<div class="team-box">
<div class="image"><img src="images/papers.jpg" alt="" /></div>
<div class="team-content">
<h4 class="darkcolor">Proje ve Mimarlık Faaliyetleri</h4>
<p>Açıklama</p>

</div>
</div>
</div>
<div class="item">
<div class="team-box">
<div class="image"><img src="images/papers.jpg" alt="" /></div>
<div class="team-content">
<h4 class="darkcolor">Proje ve Mimarlık Faaliyetleri</h4>
<p>Açıklama</p>

</div>
</div>
</div>
<div class="item">
<div class="team-box">
<div class="image"><img src="images/papers.jpg" alt="" /></div>
<div class="team-content">
<h4 class="darkcolor">Proje ve Mimarlık Faaliyetleri</h4>
<p>Açıklama</p>

</div>
</div>
</div>
<div class="item">
<div class="team-box">
<div class="image"><img src="images/papers.jpg" alt="" /></div>
<div class="team-content">
<h4 class="darkcolor">Proje ve Mimarlık Faaliyetleri</h4>
<p>Açıklama</p>

</div>
</div>
</div>


</section>
<!-- Our Team ends--></div>
		</div>


			<div class="moduletable">
					
		</div>


			<div class="moduletable">
						<section id="contact" class="bglight position-relative noshadow padding_top">
<div class="container whitebox  ">
<div class="widget py-5">
<div class="row">
	<div class="col-md-12 text-center wow fadeIn mt-n3" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;">
		<div class="heading-title bottom25 darkcolor wow fadeInUp" data-wow-delay="300ms">
			<h2 class="font-normal darkcolor"> Bize Ulaşın </h2>
		</div>
		<div class="col-md-8 offset-md-2 bottom35">
			<p>En kaliteli bla bla ürünleri veya bla bla için bize ulaşmak ister misiniz?</p>
		</div>
	</div>
	<div class="col-md-12 order-sm-12 text-center text-md-left">
		<div class="contact-meta px-2">
</div>


<ul class="social-icons mt-4 mb-4 mb-sm-0 wow fadeInUp" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;" data-wow-delay="300ms">
<li><a><i class="fab fa-facebook-f"></i> </a></li>
<li><a><i class="fab fa-twitter"></i> </a></li>
<li><a><i class="fab fa-linkedin-in"></i> </a></li>
<li><a><i class="fab fa-instagram"></i> </a></li>
<li><a><i class="fab fa-whatsapp"></i> </a></li>
<li><a><i class="far fa-envelope"></i> </a></li>
</ul>		</div>
	</div>




<script src="js/main.js"></script>

                            <div id="je_contact"  class="col-md-12 col-sm-12">
                     
						<div class="heading-title  wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
						<form id="contact-je" action="#" method="post" class="getin_form ">
                            <div class="input">
                                <label id="je_hide" for="name">Ad</label>
                                <input type="text" name="je_name" id="name"
                                       value=""
                                       class="requiredField form-control" placeholder="Adınız"/>
                                                            </div>

                            <div class="input">
                                <label id="je_hide" for="email">E-posta</label>
                                <input type="text" name="je_email" id="email"
                                       value=""
                                       class="email requiredField form-control" placeholder="abc@xmail.com"/>
                                                            </div>

                            <div class="input">
                                <label id="je_hide" for="message">Mesaj</label>
                                <textarea name="je_message" id="message" class="requiredField form-control" rows="6"
                                          placeholder="Mesajınız..."></textarea>
                                                            </div>
                                                            <div class="input">
                                    
                                    
                                <button name="submit" type="submit"
                                        class="je_button button gradient-btn w-100">Gönder</button>
                                <input type="hidden" name="submitted" id="submitted" value="true"/>
                            </div>
                        </form>
                        </div> 
                                    </div>

            
                        </div>
</div> 
</div>
</section>
		</div>
			<div class="moduletable">
						

<div class="custom"  >
	<section class="bglight position-relative noshadow">
<div class="container whitebox padding_bottom">
<div class="row">
<div class="col-lg-3 col-md-3">
<div class="widget text-center top60 w-100">
<div class="contact-box"><span class="icon-contact defaultcolor"><i class="fas fa-mobile-alt"></i></span>
<p class="bottom0"><a href="tel:+14046000396">0 (530) 145 30 43 </a></p>
<p class="d-block"><a href="tel:+43720778972">0 (541) 303 38 38</a></p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3">
<div class="widget text-center top60 w-100">
<div class="contact-box"><span class="icon-contact defaultcolor"><i class="fas fa-map-marker-alt"></i></span>
<p class="bottom0">Üniversiteler Mah. 1596. Cad 6. ARGE A Blok
Bina No:6A, No: 4/B3 Beytepe 06800 ÇANKAYA/ANKARA
</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3">
<div class="widget text-center top60 w-100">
<div class="contact-box"><span class="icon-contact defaultcolor"><i class="far fa-envelope"></i></span>
<p class="bottom0"><a href="mailto:admin@website.com">ekremkabatas1@gmail.com</a></p>
<p class="d-block"><a href="mailto:email@website.com">alperentekin95@gmail.com</a></p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3">
<div class="widget text-center top60 w-100">
<div class="contact-box"><span class="icon-contact defaultcolor"><i class="far fa-clock"></i></span>
<p class="bottom15">09:00 - 17:00 <span class="d-block"></span></p>
</div>
</div>
</div>
</div>
</div>
</section></div>
		</div>
	 
	
    <div class="wrapper"> 
					<div>
				 
				<main>  					
					<div id="system-message-container">
	</div>

					<div class="blog-featured" itemscope itemtype="https://schema.org/Blog">



</div>
   
				</main>
				 
			</div>
			</div>
		
	 			<div class="moduletable">
						

<div class="custom"  >
	<!--video part section-->
<section class="bglight">
<h2 class="d-none">heading</h2>
<div class="container-fluid bg-white">
<div class="row align-items-center">
<div class="col-md-6 col-sm-12 p-0 col-video">
<div class="col-md-12 offset-md-1 offset-sm-0 col-sm-12">
<h2 class="darkcolor font-normal text-capitalize mb-3">Bize Ulaşın</h2>
<p class="bottom10">Üniversiteler Mah. 1596. Cad 6. ARGE A Blok
Bina No:6A, Zemin Kat Ofis No: 4/B3 Beytepe 06800
ÇANKAYA/ANKARA</p>
</div>

</div>
<div class="col-md-6 col-sm-12 p-0 col-video video-bg">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.5216134276225!2d32.734418176444215!3d39.8625525391815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34746cd358807%3A0x9fae427dface4053!2sHacettepe%20Teknokent%20A.%C5%9E.!5e0!3m2!1str!2str!4v1686154194996!5m2!1str!2str" width="100%" height="470" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</div>
</div>
</section>
<!--video part section end--></div>
		</div>

	<!--Site Footer Here-->
	<footer id="site-footer" class=" bgdark padding_top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6"> 
					<div class="footer_panel padding_bottom_half bottom20  ">

<div class="custom"  >
	<p><a class="footer_logo bottom25" href="#"><img src="images/ARtech_logo.png" alt="MegaOne" /></a></p>
<p class="whitecolor bottom25">Sorunları çözmekte Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quo doloribus corporis. In, provident atque, unde natus </p>
<div class="d-table w-100 address-item whitecolor bottom25"><span class="d-table-cell align-middle"><i class="fas fa-mobile-alt"></i></span>
</div>
<ul class="social-icons white wow fadeInUp" data-wow-delay="300ms">
<li><a class="facebook"><i class="fab fa-facebook-f"></i> </a></li>
<li><a class="twitter"><i class="fab fa-twitter"></i> </a></li>
<li><a class="linkedin"><i class="fab fa-linkedin-in"></i> </a></li>
<li><a class="insta"><i class="fab fa-instagram"></i> </a></li>
</ul></div>
</div>  
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					 
						<div class="footer_panel padding_bottom_half bottom20  "><h3 class="whitecolor bottom25">Buraya birşeyler</h3>    
		<ul class="latest_news whitecolor">	 
												<li>
							
							<a href="https://chipblue.net/joomla/trax/index.php/news/item/18-springtime-color-schemes-to-try-at-home" class="post">
								 
							</a>
							<a href="https://chipblue.net/joomla/trax/index.php/news/item/18-springtime-color-schemes-to-try-at-home">									 Örnek
									</a>
							<span class="date defaultcolor">25 Mart 2021</span>
		 
									<ul class=" ">
										 
																														
									</ul>
									<div  >  </div>
									 
								 
						</li>
						 
@* 
												<li>
							
							<a href="https://chipblue.net/joomla/trax/index.php/news/item/17-how-to-improve-audience-engagement" class="post">
								 
							</a>
							<a href="https://chipblue.net/joomla/trax/index.php/news/item/17-how-to-improve-audience-engagement">									 How to Improve Audience Engagement 
									</a>
							<span class="date defaultcolor">25 Mar 2021</span>
       
									<ul class=" ">
										 
																														
									</ul>
									<div  >  </div>
									 
								 
						</li>

												<li>
							
							<a href="https://chipblue.net/joomla/trax/index.php/news/item/9-3-tips-for-creating-your-own-blog" class="post">
								 
							</a>
							<a href="https://chipblue.net/joomla/trax/index.php/news/item/9-3-tips-for-creating-your-own-blog">									 3 Tips for Creating Your Own Blog 
									</a>
							<span class="date defaultcolor">25 Feb 2021</span>
                              
									<ul class=" ">
										 
																														
									</ul>
									<div  >  </div>
									
						</li> *@
					
		<div class="col-lg-12 text-center">
			 
		</div>	 
</ul></div>   
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6"> 
					<div class="footer_panel padding_bottom_half bottom20  "><h3 class="whitecolor bottom25">Hizmetlerimiz</h3> 

<div class="custom"  >
	<ul class="links">
<li><a href="#">Web tasarımı</a></li>
<li><a href="#">Mühendislik Danışmanlık</a></li>
<li><a href="#">Bilgisayar Danışmanlık</a></li>
<li><a href="#">Business Planning</a></li>
<li><a href="#">Yüksek Teknoloji Ürünleri ARGE</a></li>
<li><a href="#">E Ticaret</a></li>
</ul></div>
</div>   
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6"> 
					<div class="footer_panel padding_bottom_half bottom20  "><h3 class="whitecolor bottom25">Çalışma Sattlerimiz</h3> 

<div class="custom"  >
	<p class="whitecolor bottom25">Our support available to help you 24 hours a day, seven days week</p>
<ul class="hours_links whitecolor">
<li><span>Pazartesi-Perşembe:</span> <span>8.00-18.00</span></li>
<li><span>Cuma:</span> <span>09:00-18:00</span></li>
</ul></div>
</div>    
				</div>
			</div>
		</div>
	</footer>
	<!--Footer ends-->
    <!--Bootstrap Core-->
	<script src="js/propper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery-countTo.js"></script>
	<script src="js/parallaxie.js"></script>
	<script src="js/jquery.cubeportfolio.min.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/tooltipster.min.js"></script>
	<script src="js/typed.min.js"></script>
	<script src="js/wow.js"></script> 
	<script src="js/particles.min.js"></script>
	<script src="js/morphext.min.js"></script>
	<script src="js/functions.js"></script> 
	<script src="js/lottie.js"></script>


  <script>

        var animationData = { "v": "5.10.1", "fr": 29.9700012207031, "ip": 0, "op": 60.0000024438501, "w": 1366, "h": 768, "nm": "tasarimSonDurum", "ddd": 0, "assets": [{ "id": "image_0", "w": 145, "h": 154, "u": "images/", "p": "img_0.png", "e": 0 }, { "id": "image_1", "w": 210, "h": 151, "u": "images/", "p": "img_1.png", "e": 0 }, { "id": "image_2", "w": 222, "h": 261, "u": "images/", "p": "img_2.png", "e": 0 }, { "id": "image_3", "w": 131, "h": 461, "u": "images/", "p": "img_3.png", "e": 0 }, { "id": "image_4", "w": 389, "h": 193, "u": "images/", "p": "img_4.png", "e": 0 }, { "id": "image_5", "w": 417, "h": 174, "u": "images/", "p": "img_5.png", "e": 0 }, { "id": "image_6", "w": 267, "h": 254, "u": "images/", "p": "img_6.png", "e": 0 }, { "id": "image_7", "w": 217, "h": 433, "u": "images/", "p": "img_7.png", "e": 0 }, { "id": "image_8", "w": 1366, "h": 603, "u": "images/", "p": "img_8.png", "e": 0 }, { "id": "image_9", "w": 1367, "h": 167, "u": "images/", "p": "img_9.png", "e": 0 }], "layers": [{ "ddd": 0, "ind": 1, "ty": 2, "nm": "ısık", "refId": "image_0", "sr": 1, "ks": { "o": { "a": 1, "k": [{ "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 0, "s": [0] }, { "t": 60.0000024438501, "s": [100] }], "ix": 11 }, "r": { "a": 1, "k": [{ "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 0, "s": [0] }, { "t": 60.0000024438501, "s": [0] }], "ix": 10 }, "p": { "a": 1, "k": [{ "i": { "x": 0.833, "y": 0.833 }, "o": { "x": 0.167, "y": 0.167 }, "t": 0, "s": [267, 566.044, 0], "to": [0, 0, 0], "ti": [0, 0, 0] }, { "t": 60.0000024438501, "s": [267, 566.044, 0] }], "ix": 2, "l": 2 }, "a": { "a": 1, "k": [{ "i": { "x": 0.833, "y": 0.833 }, "o": { "x": 0.167, "y": 0.167 }, "t": 0, "s": [72.068, 76.528, 0], "to": [0, 0, 0], "ti": [0, 0, 0] }, { "t": 60.0000024438501, "s": [72.068, 76.528, 0] }], "ix": 1, "l": 2 }, "s": { "a": 1, "k": [{ "i": { "x": [0.833, 0.833, 0.833], "y": [0.833, 0.833, 0.833] }, "o": { "x": [0.167, 0.167, 0.167], "y": [0.167, 0.167, 0.167] }, "t": 0, "s": [100, 100, 100] }, { "t": 60.0000024438501, "s": [100, 100, 100] }], "ix": 6, "l": 2 } }, "ao": 0, "ip": 0, "op": 899.000036617021, "st": 0, "bm": 0 }, { "ddd": 0, "ind": 2, "ty": 2, "nm": "beton", "refId": "image_1", "sr": 1, "ks": { "o": { "a": 0, "k": 100, "ix": 11 }, "r": { "a": 0, "k": 0, "ix": 10 }, "p": { "a": 0, "k": [320.454, 688.66, 0], "ix": 2, "l": 2 }, "a": { "a": 0, "k": [104.829, 75.352, 0], "ix": 1, "l": 2 }, "s": { "a": 0, "k": [100, 100, 100], "ix": 6, "l": 2 } }, "ao": 0, "ip": 0, "op": 899.000036617021, "st": 0, "bm": 0 }, { "ddd": 0, "ind": 3, "ty": 2, "nm": "mikser", "refId": "image_2", "sr": 1, "ks": { "o": { "a": 0, "k": 100, "ix": 11 }, "r": { "a": 0, "k": 0, "ix": 10 }, "p": { "a": 0, "k": [474.584, 536.096, 0], "ix": 2, "l": 2 }, "a": { "a": 0, "k": [110.691, 130.109, 0], "ix": 1, "l": 2 }, "s": { "a": 0, "k": [100, 100, 100], "ix": 6, "l": 2 } }, "ao": 0, "ip": 0, "op": 899.000036617021, "st": 0, "bm": 0 }, { "ddd": 0, "ind": 4, "ty": 2, "nm": "adam", "refId": "image_3", "sr": 1, "ks": { "o": { "a": 0, "k": 100, "ix": 11 }, "r": { "a": 0, "k": 0, "ix": 10 }, "p": { "a": 0, "k": [136.22, 509.531, 0], "ix": 2, "l": 2 }, "a": { "a": 0, "k": [65.473, 230.136, 0], "ix": 1, "l": 2 }, "s": { "a": 0, "k": [100, 100, 100], "ix": 6, "l": 2 } }, "ao": 0, "ip": 0, "op": 899.000036617021, "st": 0, "bm": 0 }, { "ddd": 0, "ind": 5, "ty": 2, "nm": "b3", "refId": "image_4", "sr": 1, "ks": { "o": { "a": 1, "k": [{ "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 0, "s": [0] }, { "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 43, "s": [100] }, { "t": 60.0000024438501, "s": [100] }], "ix": 11 }, "r": { "a": 1, "k": [{ "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 0, "s": [0] }, { "t": 60.0000024438501, "s": [0] }], "ix": 10 }, "p": { "a": 1, "k": [{ "i": { "x": 0.833, "y": 0.833 }, "o": { "x": 0.167, "y": 0.167 }, "t": 0, "s": [1165.353, 508.511, 0], "to": [0, 0, 0], "ti": [0, 0, 0] }, { "t": 60.0000024438501, "s": [1165.353, 508.511, 0] }], "ix": 2, "l": 2 }, "a": { "a": 1, "k": [{ "i": { "x": 0.833, "y": 0.833 }, "o": { "x": 0.167, "y": 0.167 }, "t": 0, "s": [194.112, 96.492, 0], "to": [0, 0, 0], "ti": [0, 0, 0] }, { "t": 60.0000024438501, "s": [194.112, 96.492, 0] }], "ix": 1, "l": 2 }, "s": { "a": 1, "k": [{ "i": { "x": [0.833, 0.833, 0.833], "y": [0.833, 0.833, 0.833] }, "o": { "x": [0.167, 0.167, 0.167], "y": [0.167, 0.167, 0.167] }, "t": 0, "s": [0, 0, 100] }, { "i": { "x": [0.833, 0.833, 0.833], "y": [0.833, 0.833, 0.833] }, "o": { "x": [0.167, 0.167, 0.167], "y": [0.167, 0.167, 0.167] }, "t": 43, "s": [100, 100, 100] }, { "t": 60.0000024438501, "s": [100, 100, 100] }], "ix": 6, "l": 2 } }, "ao": 0, "ip": 0, "op": 899.000036617021, "st": 0, "bm": 0 }, { "ddd": 0, "ind": 6, "ty": 2, "nm": "b2", "refId": "image_5", "sr": 1, "ks": { "o": { "a": 1, "k": [{ "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 0, "s": [0] }, { "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 43, "s": [100] }, { "t": 60.0000024438501, "s": [100] }], "ix": 11 }, "r": { "a": 1, "k": [{ "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 0, "s": [0] }, { "t": 60.0000024438501, "s": [0] }], "ix": 10 }, "p": { "a": 1, "k": [{ "i": { "x": 0.833, "y": 0.833 }, "o": { "x": 0.167, "y": 0.167 }, "t": 0, "s": [787.806, 517.077, 0], "to": [0, 0, 0], "ti": [0, 0, 0] }, { "t": 60.0000024438501, "s": [787.806, 517.077, 0] }], "ix": 2, "l": 2 }, "a": { "a": 1, "k": [{ "i": { "x": 0.833, "y": 0.833 }, "o": { "x": 0.167, "y": 0.167 }, "t": 0, "s": [208.306, 86.729, 0], "to": [0, 0, 0], "ti": [0, 0, 0] }, { "t": 60.0000024438501, "s": [208.306, 86.729, 0] }], "ix": 1, "l": 2 }, "s": { "a": 1, "k": [{ "i": { "x": [0.833, 0.833, 0.833], "y": [0.833, 0.833, 0.833] }, "o": { "x": [0.167, 0.167, 0.167], "y": [0.167, 0.167, 0.167] }, "t": 0, "s": [0, 0, 100] }, { "i": { "x": [0.833, 0.833, 0.833], "y": [0.833, 0.833, 0.833] }, "o": { "x": [0.167, 0.167, 0.167], "y": [0.167, 0.167, 0.167] }, "t": 43, "s": [100, 100, 100] }, { "t": 60.0000024438501, "s": [100, 100, 100] }], "ix": 6, "l": 2 } }, "ao": 0, "ip": 0, "op": 899.000036617021, "st": 0, "bm": 0 }, { "ddd": 0, "ind": 7, "ty": 2, "nm": "b1", "refId": "image_6", "sr": 1, "ks": { "o": { "a": 1, "k": [{ "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 0, "s": [0] }, { "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 43, "s": [100] }, { "t": 60.0000024438501, "s": [100] }], "ix": 11 }, "r": { "a": 1, "k": [{ "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 0, "s": [0] }, { "t": 60.0000024438501, "s": [0] }], "ix": 10 }, "p": { "a": 1, "k": [{ "i": { "x": 0.833, "y": 0.833 }, "o": { "x": 0.167, "y": 0.167 }, "t": 0, "s": [852.244, 582.84, 0], "to": [0, -28.5, 0], "ti": [0, 28.5, 0] }, { "t": 60.0000024438501, "s": [852.244, 411.84, 0] }], "ix": 2, "l": 2 }, "a": { "a": 1, "k": [{ "i": { "x": 0.833, "y": 0.833 }, "o": { "x": 0.167, "y": 0.167 }, "t": 0, "s": [133.08, 126.832, 0], "to": [0, 0, 0], "ti": [0, 0, 0] }, { "t": 60.0000024438501, "s": [133.08, 126.832, 0] }], "ix": 1, "l": 2 }, "s": { "a": 1, "k": [{ "i": { "x": [0.833, 0.833, 0.833], "y": [0.833, 0.833, 0.833] }, "o": { "x": [0.167, 0.167, 0.167], "y": [0.167, 0.167, 0.167] }, "t": 0, "s": [0, 0, 100] }, { "i": { "x": [0.833, 0.833, 0.833], "y": [0.833, 0.833, 0.833] }, "o": { "x": [0.167, 0.167, 0.167], "y": [0.167, 0.167, 0.167] }, "t": 43, "s": [100, 100, 100] }, { "t": 60.0000024438501, "s": [100, 100, 100] }], "ix": 6, "l": 2 } }, "ao": 0, "ip": 0, "op": 899.000036617021, "st": 0, "bm": 0 }, { "ddd": 0, "ind": 8, "ty": 2, "nm": "b4", "refId": "image_7", "sr": 1, "ks": { "o": { "a": 1, "k": [{ "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 0, "s": [0] }, { "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 43, "s": [100] }, { "t": 60.0000024438501, "s": [100] }], "ix": 11 }, "r": { "a": 1, "k": [{ "i": { "x": [0.833], "y": [0.833] }, "o": { "x": [0.167], "y": [0.167] }, "t": 0, "s": [0] }, { "t": 60.0000024438501, "s": [0] }], "ix": 10 }, "p": { "a": 1, "k": [{ "i": { "x": 0.833, "y": 0.833 }, "o": { "x": 0.167, "y": 0.167 }, "t": 0, "s": [1071.676, 446.505, 0], "to": [0, -28.5, 0], "ti": [0, 28.5, 0] }, { "t": 60.0000024438501, "s": [1071.676, 275.505, 0] }], "ix": 2, "l": 2 }, "a": { "a": 1, "k": [{ "i": { "x": 0.833, "y": 0.833 }, "o": { "x": 0.167, "y": 0.167 }, "t": 0, "s": [108.384, 216.051, 0], "to": [0, 0, 0], "ti": [0, 0, 0] }, { "t": 60.0000024438501, "s": [108.384, 216.051, 0] }], "ix": 1, "l": 2 }, "s": { "a": 1, "k": [{ "i": { "x": [0.833, 0.833, 0.833], "y": [0.833, 0.833, 0.833] }, "o": { "x": [0.167, 0.167, 0.167], "y": [0.167, 0.167, 0.167] }, "t": 0, "s": [0, 0, 100] }, { "i": { "x": [0.833, 0.833, 0.833], "y": [0.833, 0.833, 0.833] }, "o": { "x": [0.167, 0.167, 0.167], "y": [0.167, 0.167, 0.167] }, "t": 43, "s": [100, 100, 100] }, { "t": 60.0000024438501, "s": [100, 100, 100] }], "ix": 6, "l": 2 } }, "ao": 0, "ip": 0, "op": 899.000036617021, "st": 0, "bm": 0 }, { "ddd": 0, "ind": 9, "ty": 2, "nm": "arkaplan", "refId": "image_8", "sr": 1, "ks": { "o": { "a": 0, "k": 100, "ix": 11 }, "r": { "a": 0, "k": 0, "ix": 10 }, "p": { "a": 0, "k": [683, 301.5, 0], "ix": 2, "l": 2 }, "a": { "a": 0, "k": [682.75, 301.25, 0], "ix": 1, "l": 2 }, "s": { "a": 0, "k": [100, 100, 100], "ix": 6, "l": 2 } }, "ao": 0, "ip": 0, "op": 899.000036617021, "st": 0, "bm": 0 }, { "ddd": 0, "ind": 10, "ty": 2, "nm": "zemin", "refId": "image_9", "sr": 1, "ks": { "o": { "a": 0, "k": 100, "ix": 11 }, "r": { "a": 0, "k": 0, "ix": 10 }, "p": { "a": 0, "k": [683.5, 685.5, 0], "ix": 2, "l": 2 }, "a": { "a": 0, "k": [683.207, 83.207, 0], "ix": 1, "l": 2 }, "s": { "a": 0, "k": [100, 100, 100], "ix": 6, "l": 2 } }, "ao": 0, "ip": 0, "op": 899.000036617021, "st": 0, "bm": 0 }], "markers": [] };
        var params = {
            container: document.getElementById('lottie'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            animationData: animationData
        };

        var anim;

        anim = lottie.loadAnimation(params);
    </script>



</body>			

<!-- Mirrored from chipblue.net/joomla/trax/index.php/home/interactive-particles by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Jun 2023 08:38:36 GMT -->
</html>
